<!DOCTYPE html>
<html>

<head>
  <title>CSS Template</title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      float: center;
      text-align: center;
    }

    header {
      background-color: #666;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }

    section:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>

<body>
  <header>
    <h2>Express School</h2>
  </header>

  <section>
    <article>
      
      <ul style="list-style-type: none;">
        <h1>REGISTER NOW!</h1>
          <li><a href="students">Student</a></li>
          <br>
        <h1>TEACHERS' LIST</h1>
          <li><a href="teachers">Teachers</a></li>
          <br>
        <h1>Subjects</h1>
          <li><a href="subjects">Subjects</a></li>
          <br>
      </ul>
    </article>
  </section>
</body>

</html>
